/* Mengimpor Tailwind CSS v4 */
@import "tailwindcss";

/* Menggantikan tailwind.config.ts */
@theme {
  /* Kustomisasi Warna */
  --color-lux-gold: #C5A467;
  --color-lux-goldHover: #B39255;
  --color-lux-bg: #FAFAFA;

  /* Kustomisasi Bayangan (Shadow) */
  --shadow-saas: 0 20px 40px -15px rgba(0, 0, 0, 0.05);

  /* Kustomisasi Font dari Next.js */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Pengaturan default untuk tag body (Light Theme) */
@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased selection:bg-lux-gold selection:text-white;
  }
}